{
    "printWidth": 140,
    "bracketSpacing": true,
    "singleQuote": true,
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore"
}
